/* ---------------------------------------------------------------------- */

/* https://quarto.org/docs/output-formats/html-themes.html#sass-variables */
/* ---------------------------------------------------------------------- */


/*-- scss:defaults --*/

$navbar-bg:#FBF7F1; 
$navbar-fg:#FBD9D0;
$navbar-hl: #CE756D;
$body-bg: #FBF7F1; 



/*-- scss:rules --*/

/* unvisited link */
a:link {
  color:  #CE756D;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #5C9EAD;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:  #5C9EAD;
  text-decoration: underline;
  
}

/* selected link */
a:active {
  color:  #5C9EAD;
  text-decoration: none;
} 


